# Core
app==0.0.1
numpy
pandas
scikit-learn
setuptools
tqdm

# NLP / Vision
transformers
nltk
ftfy
langdetect
opencv-python-headless
Pillow
beautifulsoup4

# Deep Learning
torch
torchvision
tensorflow
torchmetrics
pytorch_lightning

# API
fastapi
uvicorn[standard]
python-multipart

# DB
psycopg2-binary

# Tests
pytest
pytest-asyncio
httpx

